html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
* {
    -webkit-tap-highlight-color: transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul, ol {
    list-style:none;
}

input, select {
    vertical-align:middle;
}
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
a{
    color: inherit;
    text-decoration: none;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height:1;
    color: #353849;
    font: inherit;
    border: none;
    outline: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
input::placeholder{
    font: inherit;
    color: #ACAFC0;
}
html,body{
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    scroll-behavior: smooth;
    background: #fff;
    color: #353849;
}
.body{
    min-width: 320px;
}
.body.no-scroll{
    overflow: hidden;
}

.breadcrumbs{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 8px;
    overflow-x: auto;
    margin: 0 -15px 8px;
    padding: 0 15px;
}
.breadcrumbs__item,
.breadcrumbs__link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.breadcrumbs__item{
    position: relative;
}
.breadcrumbs__item:not(:first-of-type)::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M6 12L10 8L6 4' stroke='%230E3A39' stroke-opacity='0.5' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100%;
    left: -24px;
}
.breadcrumbs__link{
    color: #475467;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px; /* 142.857% */
    text-wrap: nowrap;
}
.breadcrumbs__link.active{
    color: #0E3A39;
}
.container{
    width: 100%;
    max-width: 1288px;
    padding: 0 24px;
    margin: 0 auto;
}
main.main{
    overflow: hidden;
}
.btn {
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 8px 23px 25px;
    border-radius: 999px;
    border: 0.5px solid rgba(255, 255, 255, 0.00);
    background: #0E3938;
    box-shadow: 0px 9px 14px -5px rgba(255, 255, 255, 0.30) inset, 0px 4px 6px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 1px #2B2D43, 0px 0px 0px 3px #F4F6F8;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.40);
    height: 48px;
    width: 100%;
    max-width: 195px;
    text-align: center;
    cursor: pointer;
}
.btn-2{
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 5px 31px 9px;
    border-radius: 999px;
    border: 0.5px solid #0E3938;
    background: transparent;
    color: #0E3938;
    height: 40px;
    width: 100%;
    max-width: 195px;
    text-align: center;
    transition: all .1s ease;
}
.btn-2:hover{
    color: #fff;
    background-color: #0E3938;
}
.title{
    color: #0E3A39;
    font-family: "Ovo", serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 68px; /* 106.25% */
}
@media (max-width: 1279px) {
    .container{
        max-width: 1000px;
    }
}
@media (max-width: 999px) {
    .container{
        max-width: 768px;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: 480px;
    }
    .title {
        font-size: 52px;
        line-height: 60px;
    }
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all .2s ease;
    background-color: #DBE7DC;
}
.header__delivery{
    padding: 5.5px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #0E3A39;
    color: #FFF;
    font-weight: 600;
    line-height: normal;
    min-height: 42px;
}
.header__delivery span{
    margin-top: -6px;
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}
.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__menu{
    width: 100%;
    max-width: 577px;
}
.header__menu ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.header__link,
.header__link-open{
    color: #0E3A39;
    font-weight: 600;
    line-height: 24px; /* 120% */
}
.header__burger{
    display: none;
}
.header__link-open{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}
.header__link-open.active svg{
    transform: rotate(-180deg) translateY(-4px);
}
.header__link-block{
    display: flex;
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    border-bottom: 4px solid #0E3A39;
    background: #DBE7DC;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all .1s ease;
    max-height: calc(var(--vh, 1vh) * 100 - 100px);
    overflow: auto;
    z-index: -1;
}
.header__link-content{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 976px;
    padding: 24px 0;
}
.header__link-item {
    width: 100%;
    max-width: 276px;
}
.header__link-name{
    color: #0E3A39;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}
.header__link-block ul{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}
.header__link-block.active{
    opacity: 1;
    pointer-events: all;
}
.header__block{
    display: flex;
    align-items: center;
    gap: 24px;
}
.header__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    min-width: 28px;
    height: 28px;
}
@media (max-width: 999px) {
    .header{
        background: #DBE7DC;
    }
    .header__logo{
        margin-right: auto;
    }
    .header__inner{
        gap: 24px;
    }
    .header__menu{
        position: fixed;
        inset: 0;
        top: 106px;
        height: calc(var(--vh, 1vh) * 100 - 106px);
        overflow: auto;
        background: #DBE7DC;
        max-width: 100%;
        transform: translateX(100%);
        z-index: -1;
        transition: all .2s ease;
        padding: 24px;
    }
    .header__menu ul{
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-top: 10px;
    }
    .header__menu ul li{
        width: 100%;
    }
    .header__menu.active{
        transform: translateX(0);
    }
    .header__burger{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .header__btn {
        padding: 1px 15px 5px;
    }
    .header__link-block{
        display: none;
        position: initial;
        max-height: 314px;
        margin-top: 10px;
    }
    .header__link-block.active{
        display: block;
    }
    .header__link-block .container{
        padding: 0;
    }
    .header__link-content{
        flex-direction: column;
        padding: 15px 0;
    }
}
@media (max-width: 767px) {
    .header__delivery{
        font-size: 16px;
    }
    .header__delivery svg{
        max-width: 20px;
        max-height: 20px;
    }
    .header__inner{
        padding: 0;
    }
    .header__logo {
        max-width: 114px;
        height: 64px;
        overflow: hidden;
    }
    .header__logo img {
        width: 130%;
    }
}
@media (max-width: 400px) {
    .header__block{
        gap: 15px;
    }
}
.hero{
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 750px;
    background: #DBE7DC;
}
.hero .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__slider {
    height: 100%;
    width: auto;
    margin: -198px -150px -150px;
    overflow: hidden;
    padding: 300px 150px 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero__slider-prev,
.hero__slider-next{
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.14);
    width: 60px;
    height: 60px;
    min-width: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hero__slider-prev{
    left: -108px;
}
.hero__slider-next{
    right: -108px;
}
.hero__slider-bottom{
    position: initial;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 80px !important;
}
.hero__slider-pagination,
.collection__slider-pagination,
.shopby__slider-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    width: max-content !important;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 60px !important;
    margin: 0 auto;
}
.hero__slider-pagination .swiper-pagination-bullet,
.collection__slider-pagination .swiper-pagination-bullet,
.shopby__slider-pagination .swiper-pagination-bullet{
    margin: 0 !important;
    width: 32px;
    height: 4px;
    display: inline-block;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.40);
    opacity: 1;
}
.hero__slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.collection__slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #0E3A39;
}
.hero__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}
.hero__inner::before{
    content: '';
    position: absolute;
    width: 1588px;
    height: 663px;
    transform: rotate(-9.192deg);
    border-radius: 100%;
    background: rgba(14, 58, 57, 0.12);
    bottom: -367px;
    left: -132px;
    pointer-events: none;
}
.hero__slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}
.hero__content{
    margin-top: -100px;
    position: relative;
    z-index: 2;
}
.hero__reviews{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}
.hero__reviews-stars{
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero__reviews p{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
}
.hero__reviews-stars p{
    display: flex;
    align-items: center;
    gap: 6px;
}
.hero__reviews-stars p span{
    opacity: 0.64;
}
.hero__reviews-dot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6px;
    height: 6px;
    min-width: 6px;
    border-radius: 50%;
    background-color: #E9CBAF;
}
.hero__content h1,
.hero__content h2{
    color: #0E3A39;
    font-family: "Ovo", serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.64px;
}
.hero__content h1 span,
.hero__content h2 span{
    position: relative;
}
.hero__content h1 span::before,
.hero__content h2 span::before{
    position: absolute;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='460' height='15' viewBox='0 0 460 15' fill='none'%3E%3Cpath d='M2 13C68.2872 4.69914 252.289 -6.92206 458 13' stroke='%23C67D36' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 456px;
    height: 21px;
    background-size: 100%;
    left: 0;
    bottom: -5px;
}
.hero__content p{
    max-width: 564px;
    color: #353849;
    font-size: 22px;
    line-height: 28px; /* 127.273% */
    letter-spacing: -0.22px;
    margin-top: 11px;
}
.hero__btn{
    margin-top: 44px;
}
.hero__images{
    position: relative;
    display: flex;
    height: 591px;
    margin-top: -50px;
    width: 100%;
    max-width: 436px;
}
.hero__images-block {
    display: flex;
    align-items: end;
    justify-content: end;
    position: absolute;
    bottom: -24%;
    left: 50%;
    transform: translateX(-50%);
    width: 180%;
}
.hero__images-block img{
    width: 100%;
}
.hero__images p {
    padding: 5px 20px 10px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(20px);
    color: #000;
    font-size: 24px;
    line-height: normal;
    height: max-content;
    position: absolute;
    bottom: -10px;
    left: -20px;
}
.hero__images p span{
    font-weight: 700;
}
.personalization{
    background: #0E3A39;
    padding: 12px 0;
}
.personalization__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
    animation: blockSliderScroll 20s linear infinite;
}
.personalization__icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.personalization__name{
    color: #CFD8D7;
    font-family: "Ovo", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    text-wrap: nowrap;
}
@keyframes blockSliderScroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-690px);
    }
}
@media (max-width: 1190px) {
    .hero__slider-next {
        right: -58px;
    }
    .hero__slider-prev {
        left: -58px;
    }
}
@media (max-width: 999px) {
    .hero{
        min-height: 790px;
    }
    .hero__images-block {
        bottom: -24%;
        left: 61%;
        transform: translateX(-50%);
        width: 240%;
    }
    .hero__slider-prev,
    .hero__slider-next{
        position: initial;
        transform: none;
    }
    .hero__slider-pagination{
        position: initial;
    }
    .hero__slider-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 20px !important;
    }
}
@media (max-width: 767px) {
    .hero{
        height: auto;
        min-height: auto;
    }
    .hero__inner{
        flex-direction: column;
    }
    .hero__slider {
        margin: 166px 0px 110px;
        overflow: visible;
        padding: 0;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .hero__content{
        margin-top: 0;
    }
    .hero__slide{
        flex-direction: column;
    }
    .hero__images {
        height: auto;
        margin-top: -57px;
        margin-left: -41px;
        margin-bottom: -21px;
    }
    .hero__images-block{
        position: initial;
        transform: none;
        align-items: center;
        justify-content: center;
    }
    .hero__reviews{
        margin-bottom: 20px;
    }
    .hero__content h1,
    .hero__content h2{
        font-size: 64px;
        line-height: normal;
        letter-spacing: -1.92px;
    }
    .hero__content h1 span::before,
    .hero__content h2 span::before{
        content: none;
    }
    .hero__btn{
        margin-top: 54px;
    }
    .hero__images-block{
        width: 100%;
    }
    .hero__images-block img {
        width: 164%;
    }
    .hero__images p {
        padding: 4px 18px 9px;
        bottom: 125px;
        left: 12px;
    }
    .hero__inner::before {
        content: '';
        position: absolute;
        width: 657.731px;
        height: 421.381px;
        transform: rotate(-9.192deg);
        border-radius: 100%;
        background: rgba(14, 58, 57, 0.12);
        bottom: -148px;
        left: -132px;
    }
}

.collection{
    padding: 88px 0;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
#collection{
    position: absolute;
    top: -100px;
}
.collection__title{
    text-align: center;
}
.collection__descr{
    font-size: 24px;
    text-align: center;
    margin-top: 12px;
}
.collection__slider{
    margin-top: 50px;
    position: relative;
}
.collection__slider .swiper-wrapper{
    align-items: stretch;
}
.collection__slider-content{
    overflow: hidden;
}
.collection__slide{
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: auto;
    user-select: none;
}
.product__item-image{
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 298px;
}
.product__item-image img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
.product__item-content{
   flex: 1;
   padding: 0 8px;
}
.product__item-reviews,
.testimonials__slide-reviews{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}
.product__item-reviews--stars,
.testimonials__slide-reviews-stars{
    display: flex;
    align-items: center;
    gap: 4px;
}
.testimonials__slide-reviews p{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #0E3A39;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}
.collection__slide-reviews p span,
.testimonials__slide-reviews p span{
    opacity: 0.64;
}
.product__item h3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    color: #0E3A39;
    text-overflow: ellipsis;
    font-family: "Ovo", serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
}
.product__item p{
    margin-top: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}
.product__item .product__item-reviews p{
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
}
.product__item-reviews--stars[data-star="1"] svg:nth-child(1) path,
.testimonials__slide-reviews-stars[data-star="1"] svg:nth-child(1) path{
    fill: #DA7822;
}
.product__item-reviews--stars[data-star="2"] svg:nth-child(-n+2) path,
.testimonials__slide-reviews-stars[data-star="2"] svg:nth-child(-n+2) path {
    fill: #DA7822;
}
.product__item-reviews--stars[data-star="3"] svg:nth-child(-n+3) path,
.testimonials__slide-reviews-stars[data-star="3"] svg:nth-child(-n+3) path {
    fill: #DA7822;
}
.product__item-reviews--stars[data-star="4"] svg:nth-child(-n+4) path,
.testimonials__slide-reviews-stars[data-star="4"] svg:nth-child(-n+4) path {
    fill: #DA7822;
}
.product__item-reviews--stars[data-star="5"] svg path,
.testimonials__slide-reviews-stars[data-star="5"] svg path {
    fill: #DA7822;
}
.product__item-btn{
    max-width: 172px;
}
.collection__slider-pagination{
    position: initial;
    margin-top: 50px;
}
.collection__slider-pagination .swiper-pagination-bullet{
    background: rgba(14, 58, 57, 0.20);
}
.collection__slider-prev,
.collection__slider-next{
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(2px);
    width: 60px;
    height: 60px;
    min-width: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    position: absolute;
    top: 37%;
    transform: translateY(-50%);
}
.collection__slider-prev{
    left: -68px;
}
.collection__slider-next{
    right: -68px;
}
@media (max-width: 1400px) {
    .collection__slider-prev{
        left: 0px;
    }
    .collection__slider-next{
        right: 0px;
    }
}
@media (max-width: 999px) {
    .collection__slider-prev{
        left: -68px;
    }
    .collection__slider-next{
        right: -68px;
    }
}
@media (max-width: 890px) {
    .collection__slider-prev{
        left: 0px;
    }
    .collection__slider-next{
        right: 0px;
    }
}
@media (max-width: 767px) {
    .collection{
        padding: 50px 0;
    }
    .collection__slider-pagination{
        margin-top: 32px;
    }
    .collection__slider-content{
        overflow: visible;
    }
    .collection__slider{
        max-width: 330px;
        margin: 80px auto 0;
    }
    .collection__descr{
        margin-top: 8px;
    }
    .product__item-image{
        height: 208px;
    }
    .product__item-image img {
        max-height: 74.17%;
        max-width: 73.8358%;
    }
}
.testimonials{
    margin-top: 76px;
    background: #DBE7DC;
    padding: 152px 0 100px;
    position: relative;
    z-index: 1;
}
#testimonials{
    position: absolute;
    top: -200px;
}
.testimonials::before{
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../img/testimonials/testimonials-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.testimonials__inner{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.testimonials__slider{
    overflow: hidden;
    width: 100%;
}
.testimonials__slider .swiper-wrapper{
    align-items: stretch;
}
.testimonials__slide{
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 424px;
}
.testimonials__slide-top{
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1;
    max-width: 620px;
}
.testimonials__slide-top > p{
    color: #0E3A39;
    font-family: "Ovo", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
}
.testimonials__slide-reviews{
    margin-bottom: 0;
}
.testimonials__slide-bottom{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 50px;
    padding-right: 108px;
}
.testimonials__slide-bottom h4{
    color: #0E3A39;
    font-family: "Ovo", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}
.testimonials__slide-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 40px;
    background: linear-gradient(0deg, #0D3837 0%, #0D3837 100%);
}
.testimonials__slider-content{
    width: 52%;
    max-width: 636px;
    position: relative;
}
.testimonials__slider-content--images{
    width: 100%;    
    max-width: 540px;
    overflow: hidden;
    margin-top: -228px;
}
.testimonials__slider-images{
    height: 100%;
}
.testimonials__slide-image{
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
}
.testimonials__slide-image img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.testimonials__slider-buttons{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 17px;
    justify-content: end;
    z-index: 2;
    width: max-content;
    margin-left: auto;
    padding: 20px 0;
    bottom: 0;
    right: 0;
}
.testimonials__slider-buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}
.testimonials__slider-buttons button.swiper-button-disabled{
    opacity: 0.2;
}
.testimonials__slider-buttons span{
    display: block;
    height: 24px;
    width: 1px;
    background-color: #0E3A39;
    opacity: 0.1;
}
@media (max-width: 767px) {
    .testimonials{
        padding: 113px 0 40px;
        margin-top: 156px;
    }
    .testimonials__inner{
        flex-direction: column-reverse;
        gap: 48px;
    }
    .testimonials__slider-content--images{
        height: 500px;
    }
    .testimonials__slide{
        min-height: 436px;
    }
    .testimonials__slider-content{
        width: 100%;
        max-width: 100%;
    }
}
.shopby{
    padding: 80px 0 280px;
    background-color: #0E3A39;
}
.shopby__inner{
    position: relative;
}
.shopby__title{
    color: #fff;
    text-align: center;
}
.shopby-bg{
    position: absolute;
    content: '';
}
.shopby-bg:first-of-type{
    background-image: url('../img/shopby/bg.svg');
}
.shopby__slider{
    margin-top: 50px;
}
.shopby__slide-image{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    height: 298px;
    border-radius: 4px;
    overflow: hidden;
}
.shopby__slide-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shopby__slide h3{
    color: #FFF;
    text-align: center;
    font-family: "Ovo", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}
.shopby__slider-navigation{
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
}
.shopby__slider-prev,
.shopby__slider-next{
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(2px);
    width: 60px;
    height: 60px;
    min-width: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.shopby__slider-pagination{
    position: initial;
    margin: 0;
}
.shopby__slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #fff;
}
@media (max-width: 767px) {
    .shopby{
        padding: 50px 0 345px;
    }
    .shopby__slider{
        width: 100%;
        max-width: 300px;
        margin: 32px auto 0;
    }
    .shopby__slider-navigation{
        margin-top: 50px;   
        justify-content: space-between;
    }
}
.banner{
    margin-top: -200px;
}
.banner__inner{
    border-radius: 12px;
    background: #FFF3D2;
    padding: 60px 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.banner__inner::before,
.banner__inner::after{
    content: '';
    position: absolute;
    background-image: url('../img/banner-bg.png');
    width: 274px;
    height: 426px;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-18.191deg);
    top: 123px;
    left: -75px;
    z-index: -1;
}
.banner__inner::after {
    left: initial;  
    right: -83px;
    transform: scaleX(-1) rotate(-369.19deg);
}
.banner-dots{
    position: absolute;
    content: '';
    background-image: url('../img/banner-dots.svg');
    width: 290px;
    height: 545px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    left: 80px;
    z-index: -1;
}
.banner-dots:nth-of-type(2){
    right: 80px;
    left: initial;
    transform: scaleX(-1);
}
.banner__name{
    color: #0E3A39;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.18px;
    border-radius: 64px;
    border: 1px solid rgba(14, 58, 57, 0.40);
    background: #FFF0C3;
    backdrop-filter: blur(2px);
    width: 100%;
    max-width: 124px;
    margin: 0 auto 20px;
    padding: 2px 15px 6px;
}
.banner__title{
    color: #0E3A39;
    text-align: center;
}
.banner__descr{
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
    max-width: 612px;
    margin: 8px auto 0;
}
.banner__form{
    position: relative;
    width: 100%;
    height: 60px;
    max-width: 419px;
    margin: 60px auto 0;
}
.banner__form-input {
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    padding: 20px 22px 25px;
}
.banner__form-btn{
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px;
    max-width: 153px;
}
@media (max-width: 1279px) {
    .banner__title {
        max-width: 660px;
        margin: 0 auto;
    }
}
@media (max-width: 999px) {
    .banner__title {
        max-width: 460px;
    }
    .banner__descr{
        max-width: 380px;
    }
}
@media (max-width: 767px) {
    .banner {
        margin-top: -295px;
    }
    .banner__inner{
        padding: 50px 20px;
    }
    .banner__inner::before, .banner__inner::after{
        display: none;
    }
    .banner-dots{
        top: 51px;
        left: -87px;
    }
    .banner-dots:nth-of-type(2){
        right: -87px;
    }
    .banner__title{
        font-size: 40px;
        line-height: 52px;
    }
    .banner__descr{
        margin-top: 12px;
        max-width: 390px;
    }
    .banner__form{
        margin-top: 32px;
    }
}
@media (max-width: 400px) {
    .banner__form-btn{
        position: initial;
    }
    .banner__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        gap: 20px;
        align-items: center;
    }
}
.products{
    padding: 80px 0;
}
.products__title{
    text-align: center;
}
.products__block{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
.products .product__item h3,
.products .product__item p{
    text-align: center;
}
.products__more{
    margin: 50px auto 0;
    max-width: 237px;
}
@media (max-width: 999px) {
    .products__block {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 767px) {
    .products{
        padding: 50px 0;
    }
    .products__block {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 32px;
    }
    .products__more{
        margin-top: 32px;
    }
}
.choose{
    padding: 80px 0 50px;
}
.choose__title{
    text-align: center;
}
.choose__block{
    margin-top: 50px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.choose__item{
    display: flex;
    flex-direction: column;
}
.choose__item-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
.choose__item h3{
    color: #0E3A39;
    text-align: center;
    font-family: "Ovo", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 4px;
}
.choose__item p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.18px;
}
.choose__block span {
    display: block;
    width: 1px;
    min-width: 1px;
    height: 212px;
    background: linear-gradient(180deg, #FFF 0%, #DDD 51.5%, #FFF 100%);
}
@media (max-width: 767px) {
    .choose{
        padding: 60px 0 50px;
    }
    .choose__block{
        flex-direction: column;
    }
    .choose__block span {
        display: block;
        width: 100%;
        min-width: 100%;
        height: 1px;
        background: linear-gradient(90deg, #FFF 0%, #DDD 51.5%, #FFF 100%);
    }
}
.callaction{
    padding-bottom: 38px;
    position: relative;
    z-index: 1;
}
.callaction::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 50%;
    background: #0D3837;
    bottom: 0;
}
.callaction__inner{
    border-radius: 12px;
    background: #DBE7DC;
    padding: 89px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.callaction__inner::before,
.callaction__inner::after{
    position: absolute;
    content: '';
    background-image: url('../img/banner-dots.svg');
    width: 290px;
    height: 545px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    left: 80px;
    z-index: -1;
    top: 0;
}
.callaction__inner::after{
    left: initial;
    right: 80px;
    transform: scaleX(-1);
}
.callaction__title,
.callaction__descr{
    text-align: center;
}
.callaction__descr{
    max-width: 679px;
    margin: 8px auto 40px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
}
.callaction__btn{
    margin: 0 auto;
    max-width: 220px;
}
@media (max-width: 767px) {
    .callaction{
        padding-bottom: 50px;
    }
    .callaction::after{
        height: 57%;
    }
    .callaction__inner{
        padding: 50px 20px;
    }
    .callaction__inner::before{
        left: -86px;
    }
    .callaction__inner::after{
        right: -86px;
    }
    .callaction__descr{
        margin-top: 16px;
    }
    .callaction__descr br{
        display: none;
    }
}

.footer{
    padding: 80px 0;
    background: #0D3837;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.footer__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 525px;
}
.footer__title{
    color: #FFF;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.84px;
    text-transform: capitalize;
}
.footer-flag {
    display: inline-block;
    background-image: url('../img/footer-flag.svg');
    width: 28px;
    height: 21px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -1px;
    margin-left: 3px;
}
.footer__content p{
    color: #F2F2F2;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
}
.footer__socials{
    display: flex;
    align-items: center;
    gap: 12px;
}
.footer__socials-item{
    width: 40px;
    height: 40px;
    min-width: 40px;
    background-color: #0D2D2C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__navigation{
    width: 100%;
    max-width: 462px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.footer__name{
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}
.footer__block{
    width: 100%;
}
.footer__block ul li,
.footer__block a{
    color: #F2F2F2;
    font-size: 18px;
    line-height: normal;
}
.footer__block ul li + li{
    margin-top: 12px;
}
.footer__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 88px;
}
.footer__logo{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 144px;
}
.footer__logo img{
    width: 100%;
}
.footer__bottom-left{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer__bottom-links{
    display: flex;
    gap: 15px;
}
.footer__bottom-links span {
    display: block;
    width: 1px;
    min-width: 1px;
    height: auto;
    background: rgba(255, 255, 255, 0.20);
    margin: 3px 0;
}
.footer__bottom-links a,
.footer__bottom-left p{
    color: #F2F2F2;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.18px;
}
@media (max-width: 1279px) {
    .footer__navigation{
        max-width: 330px;
    }
    .footer__content{
        max-width: 432px;
    }
}
@media (max-width: 999px) {
    .footer__content{
        max-width: 320px;
    }
}
@media (max-width: 767px) {
    .footer{
        padding: 20px 0 40px;
    }
    .footer__top,
    .footer__bottom{
        flex-direction: column;
        gap: 32px;
    }
    .footer__navigation,
    .footer__content{
        max-width: 100%;
    }
    .footer__bottom{
        margin-top: 50px;
        align-items: center;
        justify-content: center;
    }
    .footer__bottom-links a, .footer__bottom-left p {
        text-align: center;
    }
    .footer__bottom-left {
        width: 100%;
        align-items: center;
    }
}